<div>
  <p>&nbsp;</p>
  <div class="right">
    <button class="btn btn-success" ng-click="add()">
      <i class="fa fa-plus"></i> New Zirafer</button>
  </div>
  <p>&nbsp;</p>
  <table class="table" st-table="info.zirafers">
    <thead>
      <tr>
        <th>
          <div class="input-group">
            <input st-search="name" placeholder="Search Zirafer Name" class="form-control" type="search">
            <span class="input-group-addon addon-right">
              <i class="fa fa-search"></i>
            </span>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in info.zirafers">
        <td class="feed-message2 row">
          <div class="message-icon col-md-2 padding no_margin">
            <img ng-src="{{item._id | myZiraferPhoto}}">
          </div>
          <div class="message-icon col-md-6 left padding no_margin middle">
            <h4 class="user_span">Name: {{item.name}}</h4>
            <!-- <p class="user_span">Profession: {{item.profession}}</p> -->
            <p class="user_span">Quote: {{item.quote}}</p>
          </div>
          <div class="message-icon col-md-3 center padding no_margin">
            <button type="button" class="btn btn-primary btn-with-icon btn-sm user_btn" ng-click="view(item._id)">
              <i class="fa fa-eye"></i>View</button>
            <button type="button" class="btn btn-danger btn-with-icon btn-sm user_btn" ng-click="remove(item._id)">
              <i class="fa fa-times"></i>Remove</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <p>&nbsp;</p>
</div>