#google-maps, #google-maps3 {
  width: 100%;
  height: $extra-medium-panel-height - 74px;
}

#google-maps1 {
  width: 100%;
  height: 325px;
}

#google-maps2 {
  width: 100%;
  height: $extra-medium-panel-height - 74px;
}